@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #271f30;
  justify-content: space-between;
}

nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #C11785;
}
nav .banner {
  display: flex;
}
nav h1 {
  font-family: "Ubuntu", sans-serif;
}
nav h1, nav h3 {
  margin: 15px;
  color: #f7f7ff;
}

section {
  width: 85%;
  margin: 0px auto 50px auto;
}
section .card-container {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0px auto;
}

footer {
  position: relative;
  top: 96%;
  left: 0%;
  width: 100%;
  margin-bottom: 20px;
}
footer p {
  color: #C11785;
  text-align: center;
  font-size: 0.8em;
}

.btn-container button {
  margin: 15px;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: #271f30;
  color: #C11785;
  font-weight: bold;
  border: none;
}
.btn-container button:hover {
  cursor: pointer;
  background-color: #583381;
  color: #f020a7;
}
.btn-container button:active {
  background-color: #271f30;
  color: #C11785;
}

.loading-container {
  width: 70px;
  margin: 10px auto;
}
.loading-container img {
  width: 70px;
}

form {
  margin: 10px auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form select {
  width: 25%;
  height: 30px;
  margin: 15px 10px;
  color: #f7f7ff;
  background-color: #271f30;
  border-radius: 8px;
  border: 2px solid #C11785;
}
form input[type=submit] {
  margin: 5px;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: #C11785;
  color: #271f30;
  font-weight: bold;
  border: none;
  width: 80px;
}
form input[type=submit]:hover {
  cursor: pointer;
  background-color: #f020a7;
  color: #583381;
}
form input[type=submit]:active {
  background-color: #C11785;
  color: #271f30;
}
form input[type=button] {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: #271f30;
  color: #C11785;
  font-weight: bold;
  border: none;
  border: 2px solid #C11785;
  margin: 5px;
  width: 80px;
}
form input[type=button]:hover {
  cursor: pointer;
  background-color: #583381;
  color: #f020a7;
}
form input[type=button]:active {
  background-color: #271f30;
  color: #C11785;
}

.card {
  margin: 13px;
  padding: 10px;
  padding-right: 20px;
  width: 340px;
  height: 235px;
  border-radius: 10px;
  border: 2px solid #C11785;
  color: #f7f7ff;
}
.card h2 {
  font-size: 1.2em;
  margin: 5px 10px;
  color: #C11785;
}
.card div {
  height: 90px;
  overflow-y: auto;
  margin-bottom: 14px;
}
.card p {
  font-size: 0.8em;
  margin: 5px 10px;
}
.card h3 {
  font-size: 0.8em;
  margin-top: 17px;
  margin-left: 5px;
}
.card span {
  padding: 0px 10px;
  background-color: #271f30;
  color: #C11785;
  margin: 3px;
  border: 2px solid #C11785;
  border-radius: 6px;
}
.card button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: #C11785;
  color: #271f30;
  font-weight: bold;
  border: none;
  margin-top: 15px;
  margin-left: 210px;
}
.card button:hover {
  cursor: pointer;
  background-color: #f020a7;
  color: #583381;
}
.card button:active {
  background-color: #C11785;
  color: #271f30;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #271f30;
}

::-webkit-scrollbar-thumb {
  background: #C11785;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f020a7;
}

.card-detail {
  padding: 20px;
  margin: 0px auto;
  width: 80%;
  border: 2px solid #C11785;
  color: #f7f7ff;
  border-radius: 10px;
}
.card-detail .return {
  text-decoration: underline;
  color: #C11785;
  cursor: pointer;
  font-size: 0.9em;
  margin-left: 0px;
  margin-top: 5px;
}
.card-detail h2 {
  color: #C11785;
  margin-bottom: 15px;
}
.card-detail .tags-container h3 {
  display: inline-block;
}
.card-detail .tags-container span {
  padding: 0px 10px;
  color: #C11785;
  margin: 3px;
  border: 2px solid #C11785;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.job-horse-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.horse-details {
  width: 35%;
}
.horse-details img {
  width: 220px;
  border-radius: 10px;
  border: 2px solid #C11785;
  padding: 5px;
  margin-bottom: 20px;
}
.horse-details h4 {
  color: #C11785;
}
.horse-details h4 > p {
  font-weight: lighter;
}

.job-details {
  width: 55%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.job-details h4 {
  color: #C11785;
}

.job-description {
  margin-bottom: 90px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.button-container .btn-delete {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: #271f30;
  color: #C11785;
  font-weight: bold;
  border: none;
  border: 2px solid #C11785;
  margin-left: 20px;
}
.button-container .btn-delete:hover {
  cursor: pointer;
  background-color: #583381;
  color: #f020a7;
}
.button-container .btn-delete:active {
  background-color: #271f30;
  color: #C11785;
}
.button-container .btn-edit {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: #C11785;
  color: #271f30;
  font-weight: bold;
  border: none;
}
.button-container .btn-edit:hover {
  cursor: pointer;
  background-color: #f020a7;
  color: #583381;
}
.button-container .btn-edit:active {
  background-color: #C11785;
  color: #271f30;
}

.create-job-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45%;
  border: 2px solid #C11785;
  border-radius: 10px;
}
.create-job-form label {
  color: #C11785;
  margin: 10px;
  margin-left: 20px;
}
.create-job-form textarea, .create-job-form input[type=text], .create-job-form select {
  width: 85%;
  margin: 0px auto;
}
.create-job-form input[type=text] {
  height: 30px;
  background-color: #271f30;
  color: #f7f7ff;
  border: 2px solid #C11785;
  border-radius: 10px;
}
.create-job-form textarea {
  background-color: #271f30;
  color: #f7f7ff;
  border: 2px solid #C11785;
  border-radius: 10px;
  height: 100px;
}
.create-job-form h4 {
  font-size: 1.3em;
  color: #C11785;
  margin-top: 30px;
  margin-left: 10px;
}
.create-job-form div {
  width: 40%;
  display: flex;
  margin: 20px auto;
}
.create-job-form button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: #271f30;
  color: #C11785;
  font-weight: bold;
  border: none;
  border: 2px solid #C11785;
  margin: 5px;
}
.create-job-form button:hover {
  cursor: pointer;
  background-color: #583381;
  color: #f020a7;
}
.create-job-form button:active {
  background-color: #271f30;
  color: #C11785;
}
.create-job-form input[type=submit] {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: #C11785;
  color: #271f30;
  font-weight: bold;
  border: none;
  width: 150px;
}
.create-job-form input[type=submit]:hover {
  cursor: pointer;
  background-color: #f020a7;
  color: #583381;
}
.create-job-form input[type=submit]:active {
  background-color: #C11785;
  color: #271f30;
}

/*# sourceMappingURL=main.css.map */
