footer {
    display: none;
    position: relative;
    top: 96%;
    left: 0%;
    width: 100%;
    margin-bottom: 1.25em;
    p {
        color: $secondary-color;
        text-align: center;
        font-size: 0.8em;
    }
}