nav {
    height: 3.75em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $secondary-color;
    .banner {
        display: flex;
    }
    h1 {
        font-family: 'Ubuntu', sans-serif;
        cursor: pointer;
    }
    h1, h3 {
        margin: 0.9375rem;
        color: $font-color;

    }
    h3 {
    @include set-breakpoints(sm-md) {
        display: none;
    }


    
    }
}
