section {
    width: 80%;
    margin: 0px auto;
    .card-container {
        width: 1050px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0px auto;
    }
}