section {
    width: 85%;
    margin: 0em auto 3.125em auto;
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0em auto;
    }

    @include set-breakpoints(xxl) {
        width: 68.75em;
    }

    @include set-breakpoints(xl) {
        width: 90%;
    }
}