.card {
    margin: 0.8125em;
    padding: 0.625em;
    padding-right: 1.25em;
    width: 21.25em;
    height: 14.6875em;
    border-radius:  0.625em;
    border: 2px solid $secondary-color;
    color: $font-color;

    @include set-breakpoints(lg) {
        width: 70%;
    }

    @include set-breakpoints(md) {
        width: 90%;
    }
    h2 {
        font-size: 1.2em;
        margin: 0.3125rem 0.625rem;
        color: $secondary-color;
    }
    div {
        height: 5.625em;
        overflow-y: auto;
        margin-bottom: 0.875em;
    }
    p {
        font-size: 0.8em;
        margin: 0.3125rem  0.625rem;
    }
    h3 {
      font-size: 0.8em;  
      margin-top: 1.0625em;
      margin-left: 0.3125em;
    }
    .tag {
        display: inline;
        padding: 0em 0.625em;
        background-color: $main-color;
        color: $secondary-color;
        margin: 0.1375em;
        border: 2px solid $secondary-color;
        border-radius: 0.375em;
    }
    button {
        @include button-format ($secondary-color, $main-color, $secondary-color-lighter, $main-color-lighter);
        margin-top: 0.9375em;
        margin-left: 13.125rem;

        @include set-breakpoints(xs) {
            margin-top: 1.5em;
        }

        @include set-breakpoints(lg) {
            margin-top: 1.5em;
            margin-left: 80%;
        }

        @include set-breakpoints(md) {
            margin-top: 1.5em;
            margin-left: 75%;
        }

        @include set-breakpoints(sm) {
            margin-top: 1.5em;
            margin-left: 60%;
        }


        
    }
}