.card-detail {
    padding: 10px;
    margin: 0px auto;
    width: 80%;
    border: 2px solid $secondary-color;
    color: $font-color;
    border-radius: 10px;
        h2 {
            color: $secondary-color;
            margin-bottom: 15px;
        }
        p {
            margin-left: 10px;
            margin-bottom: 15px;
        }
        div {
            margin: 10px;
            h3 {
                display: inline-block;
            }
            span {
                padding: 0px 10px;
                color: $secondary-color;
                margin: 3px;
                border: 2px solid $secondary-color;
                border-radius: 6px;
                margin-top: 10px;
                margin-bottom: 10px;
        }
    }
}

.button-container {
    display: flex;
    justify-content: flex-end;
    .btn-eliminar {
        @include button-format($main-color, $secondary-color, $main-color-lighter, $secondary-color-lighter );
        border: 2px solid $secondary-color;
        margin-left: 10px;
    }
    .btn-editar {
        @include button-format($secondary-color, $main-color, $secondary-color-lighter, $main-color-lighter );
    }
}