
::-webkit-scrollbar {
    width: 0.625em;
  }
  
  ::-webkit-scrollbar-track {
    background: $main-color;
  }
  
  ::-webkit-scrollbar-thumb {
    background: $secondary-color;
    border-radius: 0.3125em
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: $secondary-color-lighter;
  }
