.delete-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #271f30, $alpha: 0.9);
    z-index: 2;
}

.delete-warning {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid $secondary-color;
    background-color: $main-color;
    border-radius: 10px;
    width: 400px;
    height: 250px;
    margin: auto;
    z-index: 1;
    padding: 10px;

    h3 {
        font-size: 1.3em;
        color: $secondary-color;
        margin: 10px;
    }

    p {
        color: $font-color;
        margin-left: 15px;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        margin: 0px;
        .btn-cancel {
            @include button-format ($main-color, $secondary-color, $main-color-lighter, $secondary-color-lighter);
            border: 2px solid $secondary-color;
            margin-right: 10px; 
        }
        
        .btn-success {
            @include button-format ($secondary-color, $main-color, $secondary-color-lighter, $main-color-lighter);
        }

    }

}