*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: $main-color;
    justify-content: space-between;
}